<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="/css/main.css">
	<title>Boorumux</title>
</head>
<body>
	<div id="sidebar">
		<h1>Boorumux</h1>

		<h3>Tags</h3>
		<ul id="taglist">
			<li class="tag"><a class="add" href="#">+</a> <a class="remove" href="#">-</a> <a class="tagname">hello world</a></li>
		</ul>
	</div>

	<div id="container">
		{{range .}}
			<div id="post">
				<h1>{{.Source}}</h1>
				<p>{{.Tags}}</p>
				<p><img src="/proxy?t={{(index .Images 0).Href}}"></img></p>
			</div>
		{{end}}
	</div>
</body>
</html>
