{{$booru := .booru}}
{{$from := .from}}
{{$mux := .mux}}
{{$q := .q}}
{{$attrs := false}}
{{if or $q $mux}}
{{$attrs = true}}
{{end}}
{{$c := .booru}}
{{if and .from (ne .booru "mux")}}
{{$c = .from}}
{{end}}

<div id="sidebar">
	{{if not .post}}
	{{$page := or .page 0}}
	{{pages (mkUrl .booru .q .mux) $attrs $page}}
	<hr>
	{{else if .localbooru}}
	<a href="/{{$c}}?save={{.post.Id}}">Save in Localbooru</a>
	{{end}}

	<h3>Boorus</h3>
	<ul id="boorulist">
		{{if .mux}}
		{{range .mux}}<li class="booru active"><a class="booruname" href="/{{.}}{{if $q}}?q={{$q}}{{end}}">{{.}}</a></li>{{end}}
		{{range .boorus}}{{if and (ne . $booru) (ne . $from) (and $mux (not (has_string . $mux)))}}<li class="booru"><a class="booruname" href="/{{.}}{{if $q}}?q={{$q}}{{end}}">{{.}}</a></li>{{end}}{{end}}
		{{else}}
		{{if $from}}<li class="booru active"><a class="booruname">{{$from}}</a></li>{{end}}
		<li class="booru active"><a class="booruname">{{$booru}}</a></li>
		{{range .boorus}}
		{{if and (ne . $booru) (ne . $from)}}
		<li class="booru"><a class="booruname" href="/{{.}}{{if $q}}?q={{$q}}{{end}}">{{.}}</a></li>
		{{end}}
		{{end}}
		{{end}}
	</ul>

	{{if .post}}
	<h3>Info</h3>
	<div class="info">
		<b>Score</b>
		<span>{{.post.Score}}</span>
	</div>
	<div class="info">
		<b>Rating</b>
		<span>{{.post.Rating}}</span>
	</div>
	<div class="info">
		<b>Created</b>
		<span>{{fmtTime .post.Created}}</span>
	</div>
	{{if .post.Original.Size}}
	<div class="info">
		<b>Size</b>
		<span>{{size .post.Original.Size}}</span>
	</div>
	{{end}}
	{{if .post.Source}}
	<div class="info">
		<b>Source</b>
		{{if isUrl .post.Source}}<a href="{{.post.Source}}">{{prettyUrl .post.Source}}</a>{{else}}<span>{{.post.Source}}</span>{{end}}
	</div>
	{{end}}
	{{end}}

	<h3>Tags{{if not .post}} <a href="#" id="resetfilter">[reset]</a>{{end}}</h3>
	<ul id="taglist">
		{{range .activeTags}}
		<li class="tag active"><a class="add" href="#">|</a> <a class="remove" href="#" onclick="return delTag('{{.}}')">-</a> <a class="tagname">{{humantag .}}</a></li>
		{{end}}
		{{range .tags}}
		<li class="tag"><a class="add" href="#" onclick="return addTag('{{.}}')">+</a> <a class="remove" href="#" onclick="return delTag('{{.}}')">-</a> <a class="tagname" data-tag="{{.}}" href="{{mkUrl $c . $mux}}">{{humantag .}}</a></li>
		{{end}}
	</ul>
</div>
