{{$booru := .booru}}
{{$from := .from}}
{{$q := .q}}
<div id="header">
	<span class="title">Boorumux</span>
	<form action="/{{if $from}}{{$from}}{{else}}{{$booru}}{{end}}" id="search" method="get">
		<input type="search" id="q" name="q" placeholder="rating:safe touhou..."{{if .q}} value="{{.q}}"{{end}}>
	</form>
</div>
<div id="sidebar">
	{{if not .post}}
	{{$page := or .page 0}}
	{{pages (printf "/%s?q=%s" .booru .q) $page}}
	<hr>
	{{end}}

	<h3>Boorus</h3>
	<ul id="boorulist">
		{{if .from}}
		<li class="booru active"><a class="booruname">{{$from}}</a></li>
		{{end}}
		<li class="booru active"><a class="booruname">{{$booru}}</a></li>
		{{range .boorus}}
		{{if and (ne . $booru) (ne . $from)}}
		<li class="booru"><a class="booruname" href="/{{.}}{{if $q}}?q={{$q}}{{end}}">{{.}}</a></li>
		{{end}}
		{{end}}
	</ul>

	{{if .post}}
	<h3>Info</h3>
	<div class="info">
		<b>Score</b>
		<span>{{.post.Score}}</span>
	</div>
	<div class="info">
		<b>Rating</b>
		<span>{{.post.Rating}}</span>
	</div>
	<div class="info">
		<b>Created</b>
		<span>{{.post.Created}}</span>
	</div>
	{{if .post.Original.Size}}
	<div class="info">
		<b>Size</b>
		<span>{{size .post.Original.Size}}</span>
	</div>
	{{end}}
	{{if .post.Source}}
	<div class="info">
		<b>Source</b>
		{{if isUrl .post.Source}}<a href="{{.post.Source}}">{{prettyUrl .post.Source}}</a>{{else}}<span>{{.post.Source}}</span>{{end}}
	</div>
	{{end}}
	{{end}}

	<h3>Tags</h3>
	<ul id="taglist">
		{{range .activeTags}}
		<li class="tag active"><a class="add" href="#">|</a> <a class="remove" href="#" onclick="return delTag('{{.}}')">-</a> <a class="tagname">{{.}}</a></li>
		{{end}}
		{{range .tags}}
		<li class="tag"><a class="add" href="#" onclick="return addTag('{{.}}')">+</a> <a class="remove" href="#" onclick="return delTag('{{.}}')">-</a> <a class="tagname" data-tag="{{unhumantag .}}" href="/{{if $from}}{{$from}}{{else}}{{$booru}}{{end}}?q={{unhumantag .}}">{{.}}</a></li>
		{{end}}
	</ul>
</div>
