:root {
	/* Gruvbox light */
	--background: #f9f5d7;
	--foreground: #3c3836;
	--color0:  #fdf4c1;
	--color1:  #cc241d;
	--color2:  #98971a;
	--color3:  #d79921;
	--color4:  #458588;
	--color5:  #b16286;
	--color6:  #689d6a;
	--color7:  #7c6f64;
	--color8:  #928374;
	--color9:  #9d0006;
	--color10: #79740e;
	--color11: #b57614;
	--color12: #076678;
	--color13: #8f3f71;
	--color14: #427b58;
	--color15: #3c3836;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1d2021;
		--foreground: #ebdbb2;

		--color0:  #282828;
		--color1:  #cc241d;
		--color2:  #98971a;
		--color3:  #d79921;
		--color4:  #458588;
		--color5:  #b16286;
		--color6:  #689d6a;
		--color7:  #a89984;
		--color8:  #928374;
		--color9:  #fb4934;
		--color10: #b8bb26;
		--color11: #fabd2f;
		--color12: #83a598;
		--color13: #d3869b;
		--color14: #8ec07c;
		--color15: #ebdbb2;
	}
}

@media only screen and (max-width: 600px) {
	#container {
		flex-direction: column-reverse;
	}

	#sidebar, #inner {
		width: 100% !important;
	}

	#inner {
		padding: 0 !important;
	}
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: sans;
}

h1,h2,h3 { margin-bottom: 0.1em; }

a, a:active, a:visited { color: var(--color5); }
a:hover { color: var(--color13); }

#header {
	padding: 0.5em;

	width: 100%;
	background: var(--color0);
	box-sizing: border-box;

	display: flex;
}

#title {
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 0.5em;
	color: var(--foreground);
	text-decoration: none;
}

#title:active, #title:hover, #title:visited {
	color: var(--foreground);
}

#title:hover { text-decoration: underline; }

#header form { flex-grow: 1; }

#header input[type="search"] {
	width: 100%;
	height: 100%;

	box-sizing: border-box;
	outline: none;
	border: none;
	padding: 0.5em;
}

#sidebar {
	width: 18rem;
	box-sizing: border-box;

	background: var(--color0);
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
}

#footer {
	padding: 2em;
	text-align: center;
	clear: both;
	box-sizing: border-box;
	background: var(--color0);
}

#pages {
	text-align: center;
	font-size: 0.75em;
}

#pages a {
	text-decoration: none;
}

#container, #thumbs {
	display: flex;
	max-width: 100%;
}

#thumbs, #inner {
	flex-wrap: wrap;
	flex: 1;

	padding: 1em;
}

#thumbs .post {
	display: flex;
	margin-top: 20px;
	align-items: center;
	justify-content: center;

	width: 195px;
	height: 185px;
}

#thumbs .post img {
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
}

#thumbs .post.video img { border: 4px var(--color4) solid; }
#thumbs .post.gif img { border: 4px var(--color5) solid; }

#inner {
	width: 75%;
}

#index {
	width: 56rem;
	max-width: 95%;
	margin: auto;
}
#index h1 { font-size: 3em; }
#index .booruname { font-size: 2em; }

ul#taglist, ul#boorulist {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

ul#taglist li a, ul#boorulist li a {
	text-decoration: none;
}

ul#taglist li a:hover, ul#boorulist li a:hover {
	text-decoration: 1px underline;
}

ul#boorulist li {
	padding: 0.25em;
}

.tagname:link, .tagname:visited { color: unset; }

.add { color: var(--color2); }
.remove { color: var(--color1); }
.active { background: var(--background); }
.post.active img { border: 4px var(--color1) solid; }
a.tagname.inactive { color: var(--color7); }
a.tagname.filter { font-weight: bold; }

#feature { width: 100%; max-height: 100%; }
.info b { width: 100%; display: block; }
.info + .info { border-top: 1px solid var(--foreground); }

#q { background: var(--background); color: var(--foreground); }
#q::placeholder { color: var(--color7); }

#resetfilter { display: none; } /* turned on via JS */
